iframe{
    width: 100%;
    height: 232px;
    border: 0;
    background: rgba(0,0,0,0);
}

.episodios {
    height: 1203.5px;
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 91%, 0 100%);
    
    /* titulo */
    h2 {
        margin: 0;
        padding: 0;
        padding-top: 64px;
        padding-left: 16px;
        padding-bottom: 21px;
        font-family: $font2;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 42px;
    }
    .iframes {
        width: 298px;
        height: 225px;
        margin: 0 11px;
    }
}
/* para pc */
@media only screen and (min-width: 321px) {
    
    .episodios {
        width: 1440px;
        display: grid;
        grid-template: 186px 62px 26px 232px 72px 232px 232px / 100px 584px 72px 584px 100px;
        height: 1042px;
        clip-path: polygon(100% 0, 100% 91%, 0 100%, 0 6%);
        h2 {
            font-family: $font2;
            font-size: 48px;
            color: #FFFFFF;
            letter-spacing: 0;
            margin: 0;
            padding: 0 0 0 100px;
            grid-area: 2 / 2 / 3 / 3;
            height: 100%;
            width: 209px;
            font-weight: 100;
        }
       
    .iframes{
        width: 584px;
        height: 232px;
    }
        
        .iframes:nth-of-type(1) {
            grid-area: 4 / 2 / 5 / 3;
        }
        .iframes:nth-of-type(2) {
            grid-area: 4 / 4 / 5 / 5;
        }
        .iframes:nth-of-type(3) {
            grid-area: 6 / 2 / 7 / 3;
        }
        .iframes:nth-of-type(4) {
            grid-area: 6 / 4 / 7 / 5;
        }
    }

}