.invitadas {
    height: 1556px;
    line-height: 0.15;
    h2 {
        height: 84px;
        margin: 0 16px 14px;
    }
    img {
        width: 100%;
        height: 243px;
    }
}

@media only screen and (min-width: 320px){

    .invitadas {
        width: 1440px;
        height: 826px;
    
        h2 {
            width: 481px;
            height: 62px;
            margin: 0 759px 36px 200px
        }
    
        .contentimages {
            width: 1440px;
            height: 728px;
    
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
    
            flex-wrap: wrap;
            flex-direction: row;
    
            justify-content: center;
            align-items: center;
    
            img {
                width: 480px;
                height: 364px;
            }
        }
    }
    }