.boton{
    background-color:#00F3BB;
    &:hover{
        animation: actn 0.5s infinite;
        color: #ffffff;
    }
    @keyframes actn{
        from{background-color:#00F3BB; }
        to {background: linear-gradient( 225deg, #0000FE 0%, #00F0B8 100%); 
        }
    }
}
.novedades {
    height: 341px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 22%, 100% 0%, 100% 98%, 0% 100%);

 
    h2 {
        padding: 64px 16px 36px;
        color: #ffffff;
        text-align: center;
        font-weight: 100;
        font-size: 48px;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 16px;
        height: 48px;
        background: #00F3BB;
        text-decoration: none;
        color: #060A24
    }
}
/* para pc */
@media only screen and (min-width: 321px) {
    .novedades{
        width: 1440px;
        height: 518px;

        h2 {
            width: 692px;
            height: 62px;
            margin: 0 374px 52px 374px;
            text-align: center;
            padding-left: 0;
            padding-top: 213px;
            padding-right: 0;
            font-family: $font2;
            font-size: 48px;
            color: #FFFFFF;
        }
        a {
            width: 345px;
            height: 56px;
            margin: 0 547px;
          }

        }
    }
    
