footer {
    height: 121px;
    p {
        margin: 24px 46px 0 47px;
        text-align: center;
    }
    a {
        background: none;
        
        i {
            font-family: $font1;
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
            width: 16px;
            height: 28px;
        }
    }
}

.iconos-flex {
    display: flex;
            }

footer {
    a:nth-of-type(1) {
        margin: 16px 19px 31px 45px;
                    }
    a:nth-of-type(2),
    a:nth-of-type(3),
    a:nth-of-type(4) {
        margin: 16px 19px 31px;
                    }
    a:nth-of-type(5) {
        margin: 16px 45px 31px 19px;
    }
        }

footer {
    a:nth-of-type(2) {
        width: 14px;
                    }
        }
/* para pc */
@media only screen and (min-width: 321px) {
    footer {
        width: 1440px;
        height: 95px;
        display: flex;
        flex-wrap: nowrap;
        p {
            margin: 36px 0 31px 100px;
            height: 28px;
            width: 269px;
            font-size: 16px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 28px;
        }
        a:nth-of-type(1) {
            margin: 36px 0 31px 739px;
        }
        a:nth-of-type(2) {
            margin: 36px 0 31px 36px;
        }
        a:nth-of-type(3) {
            margin: 36px 0 31px 36px;
        }
        a:nth-of-type(4) {
            margin: 36px 0 31px 36px;
        }
        a:nth-of-type(5) {
            margin: 36px 100px 31px 36px;
        }
    }
}